@import "mixins";
@import "variables";

/* ==========================================================================
   General Base Structure/Styles
   ========================================================================== */
        body {
          color: #222;
          font-family: "proxima-nova", sans-serif;
          font-size: 1em;
          line-height: 140%;
        }

        p {
          margin: 12px 0;
        }

/* ==========================================================================
   Typography
   ========================================================================== */
        h2 {
          border-bottom: 1px solid $light-pink;
          font-size: 220%;
          font-weight: bold;
          line-height: 100%;
          margin: 30px 0;
          padding-bottom: 10px;
        }

        h3 {
          border-bottom: 1px dotted $light-pink;
          font-size: 120%;
          font-weight: normal;
          letter-spacing: 1px;
          margin-bottom: 12px;
          margin-top: 10px;
          text-transform: uppercase;
        }

        h4 {
          font-size: 120%;
          font-weight: normal;
        }

        h5 {
          font-size: 85%;
          text-transform: uppercase;
        }

        .white-wrapper h2 {
          color: $cranberry;
        }

        .white-wrapper h3 {
          border-bottom: none;
          color: $cranberry;
          margin-top: 40px;
        }

        .page-content h4 {
            color: #222;
            margin-top: 20px;
        }

        .sidebar h3 {
            border-bottom: 1px dotted #333;
            clear: both;
            color: $cyan;
        }

        .sidebar h4 {
            color: #fff;
        }

        .sidebar h5 {
            color: #ccc;
            font-weight: normal
        }


/* ==========================================================================
   Links
   ========================================================================== */
        a {
            color: $dark-cyan;
            border-bottom: 1px solid #ccc;
            text-decoration: none;

            &:hover {
                color: #000;
                border-bottom: 1px solid #999;              
            }

            &.logo {
                border-bottom: none;
            }
        }

        .sidebar a {
            border: none;
            color: #fff;

            &:hover {
                color: $pink;
            }
        }

        a.twitter:link, a.twitter:visited {
          background: url("../images/class-site/connect-sprite.png") 0 0 no-repeat;
          display: block;
          height: 53px;
          text-indent: -9999px;
          width: 53px;
        }

        a.twitter:hover, a.twitter:active {
          background: url("../images/class-site/connect-sprite.png") 0 -54px no-repeat;
          display: block;
          height: 53px;
          text-indent: -9999px;
          width: 53px;
        }

        a.facebook:link, a.facebook:visited {
          background: url("../images/class-site/connect-sprite.png") -54px 0 no-repeat;
          display: block;
          height: 53px;
          text-indent: -9999px;
          width: 53px;
        }

        a.facebook:hover, a.facebook:active {
          background: url("../images/class-site/connect-sprite.png") -54px -54px no-repeat;
          display: block;
          height: 53px;
          text-indent: -9999px;
          width: 53px;
        }

        a.meetup:link, a.meetup:visited {
          background: url("../images/class-site/connect-sprite.png") -107px 0 no-repeat;
          display: block;
          height: 53px;
          text-indent: -9999px;
          width: 53px;
        }

        a.meetup:hover, a.meetup:active {
          background: url("../images/class-site/connect-sprite.png") -107px -54px no-repeat;
          display: block;
          height: 53px;
          text-indent: -9999px;
          width: 53px;
        }

/* ==========================================================================
   Containers & Holders
   ========================================================================== */

        .container {
          margin: 0 auto;
          width: $max-width;
        }

        .pink-wrapper {
          background-color: $pink;
          border-top: #222 solid 6px;
          width: 100%;
        }

        .page-content {
            float: left;
            padding-bottom: 30px;
            width: 60%;

            ul {
                margin-bottom: 30px;
                margin-top: 10px;
            }
        }

        .sidebar {
            border-radius: 3px;
            background-color: #222;
            color: #ccc;
            float: right;
            margin: 30px 0;
            padding: $default-space;
            width: 28%;

            ul {
                list-style-type: none;
                padding: 0;
            }
        }

        .sidebar-content {
            padding: $default-space $default-space 0;
        }

        .connect-sidebar {
            float: left;
            margin: 0 0 $default-space;
            padding: 0;

            li {
                display: inline;
                float: left;
                margin-left: 7px;
                margin-right: 7px;
            }
        }

        .site-footer {
            clear: both;
        }