/* ==========================================================================
   Global Variables
   ========================================================================== */

	/**
	 * ## Global Spaces
	 */
		$default-space: 20px;
		$default-space-2x: $default-space*2;
		$default-space-smaller: $default-space*.75;
		$default-space-half: $default-space/2;
		$default-space-smallest: $default-space*.25;

	/**
	 * ## Global Widths
	 */
		$max-width: 960px;

	/**
	 * ## Global Colors
	 */

	 	$dark-cyan: #00a9ab;
	 	$cyan: #02aab5;
	 	$cranberry: #8b2f33;
	 	$light-pink: #ffd6d7;
	 	$pink: #fe5a61;